<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="currentScreenSize != 2">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="">BIQ-Cat</a>
  <span class="spacer"></span>

  <button mat-button class="nav"><a routerLink="about">About</a></button>
  <button mat-button class="nav"><a routerLink="shop">Shop</a></button>
  <button mat-button class="nav"><a routerLink="help">Help</a></button>
  <button mat-icon-button class="nav last">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
