<div class="banner">
  <div>
    <h1>IRA project - real cross-platform programm</h1>
    <p>
      Do you want to run any program in your operating system?<br />
      IRA with ISync will help to run your favorite program in any platform and
      operating system
    </p>
  </div>
  <button mat-flat-button color="primary">Learn more</button>
</div>
<div class="card-container">
  <mat-card>
    <img mat-card-image src="/assets/test_block.jpg" />
    <mat-card-content>
      <h2>BIQ Drive</h2>
      <p>
        BIQ Drive is a part of BIQ Web Ecosystem<br />
        It's the best drive for developers
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Visit</button>
      <button mat-button color="primary">Learn more</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img mat-card-image src="/assets/test_block.jpg" />
    <mat-card-content>
      <h2>Fatalited</h2>
      <p>
        Fatalited is a fan project for gameboy DMG-01. <br />It will be an open
        world project, with simple combo system and 3 different characters to
        choose. There will be 3 versions of the game. <br />
        Ferrum, Arsenicum and Plumbum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Download</button>
      <button mat-button color="primary">Learn more</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img mat-card-image src="/assets/test_block.jpg" />
    <mat-card-content>
      <h2>Space soap</h2>
      <p>
        Simple game which is very interesting about Soap flying around space.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Download</button>
      <button mat-button color="primary">Learn more</button>
    </mat-card-actions>
  </mat-card>
</div>
